<h2>Articles</h2>

<!--
  https://volosoft.com/Blog/attribute-directives-to-avoid-repetition-in-angular-templates
-->

<!--[rows]="articles$ | async" -->

<ngx-datatable [rows]="articles" [loadingIndicator]="isLoading" [columnMode]="ColumnMode.force"
  [columns]="columns" [headerHeight]="50" rowHeight="auto" class="material">
</ngx-datatable>

<div class="more-rows" [hidden]="isLoading">
  <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="{{moreRowsTooltip}}">
    +
  </button>
</div>