<app-title [title]="pageTitle"></app-title>

<div class="row">
    <div class="col-3" *ngFor="let article of articles">
        <app-article-card [article]="article"></app-article-card>
    </div>
</div>

<div class="d-flex justify-content-center mt-5" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" 
        (pageChanged)="pageChanged($event)" 
        previousText="&lsaquo;"
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
  </div>