.table-hover tbody tr:hover td
{
    color:white;
    background: var(--primary-color);
    cursor: pointer;
}

.o4u-link {
    cursor: pointer;
    font-size: 25px;
    color: var(--primary-color);
}
